/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Root Variables */
:root {
    /* Color Variables */
    --blue: #007bff; /* Main blue color */
    --light-blue: #4da8da; /* Lighter blue shade */
    --dark-blue: #0056b3; /* Darker blue shade */
    --black: Black; /* Black color */
    --light-color: bla; /* Light color for text */
    /* Shadow and Border Variables */
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2); /* Box shadow */
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); /* Text shadow */
    --border: .2rem solid var(--blue); /* Border */
}

/* Global Styles */
* {
    font-family: 'Poppins', sans-serif; /* Set font family */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
    /* Additional Comments: Text properties */
    color: var(--black); /* Default text color */
}

/* HTML Styles */
/* HTML Styles */
/* HTML Styles */
html {
    font-size: 62.5%; /* Set base font size to 10px */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    background-color: #f9fafb; /* Updated background color to a slightly lighter shade */
    /* Additional Comments: Adjusted background color for better visibility */
}



/* Section Styles */
section {
    padding: 2rem 9%;
}

/* Even Section Styles */
section:nth-child(even) {
    background: var(--light-blue); /* Use light blue for even sections */
}

/* Heading Styles */
.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

/* Button Styles */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue); /* Use main blue color for button text */
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

/* Button Span Styles */
.btn span {
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--blue); /* Use main blue color for button background */
    color: #fff;
    margin-left: .5rem;
}

/* Hover Styles for Button */
.btn:hover {
    background: var(--blue); /* Use main blue color for button background on hover */
    color: #fff;
}

/* Hover Styles for Button Span */
.btn:hover span {
    color: var(--blue); /* Use main blue color for button text on hover */
    background: #fff;
    margin-left: 1rem;
}

/* Header Styles */
.header {
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

/* Logo Styles */
.header .logo1 {
    font-size: 20px;
    margin-top: -48px;
    margin-left: 65px;
}




/* Navbar Styles */
.header .navbar a {
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

/* Navbar Hover Styles */
.header .navbar a:hover {
    color: var(--blue);
}

/* Menu Button Styles */
#menu-btn {
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* Home Section Styles */
.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

/* Home Image Styles */
.home .image {
    flex: 1 1 45rem;
}

/* Home Image Image Styles */
.home .image img {
    width: 100%;
}

/* Home Content Styles */
.home .content {
    flex: 1 1 45rem;
}

/* Home Content Heading Styles */
.home .content h3 {
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

/* Home Content Paragraph Styles */
.home .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Icons Container Styles */
.icons-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Icon Box Styles */
.icons-container .icons {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

/* Icon Styles */
.icons-container .icons i {
    font-size: 4.5rem;
    color: var(--blue);
    padding-bottom: .7rem;
}

/* Icon Heading Styles */
.icons-container .icons h3 {
    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

/* Icon Paragraph Styles */
.icons-container .icons p {
    font-size: 1.7rem;
    color: var(--light-color);
}

/* Service Box Container Styles */
.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

/* Service Box Styles */
.services .box-container .box {
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

/* Service Box Icon Styles */
.services .box-container .box i {
    color: var(--blue);
    font-size: 5rem;
    padding-bottom: .5rem;
}

/* Service Box Heading Styles */
.services .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}

/* Service Box Paragraph Styles */
.services .box-container .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* About Row Styles */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* About Image Styles */
.about .row .image {
    flex: 1 1 45rem;
}

/* About Image Image Styles */
.about .row .image img {
    width: 100%;
}

/* About Content Styles */
.about .row .content {
    flex: 1 1 45rem;
}

/* About Content Heading Styles */
.about .row .content h3 {
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

/* About Content Paragraph Styles */
.about .row .content p {
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}

/* Doctors Box Container Styles */
.doctors .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

/* Doctors Box Styles */
.doctors .box-container .box {
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

/* Doctors Box Image Styles */
.doctors .box-container .box img {
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Doctors Box Heading Styles */
.doctors .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

/* Doctors Box Span Styles */
.doctors .box-container .box span {
    color: var(--blue);
    font-size: 1.5rem;
}

/* Doctors Box Share Styles */
.doctors .box-container .box .share {
    padding-top: 2rem;
}

/* Doctors Box Share Anchor Styles */
.doctors .box-container .box .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--blue);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
}

/* Doctors Box Share Anchor Hover Styles */
.doctors .box-container .box .share a:hover {
    background: var(--blue);
    color: #fff;
    box-shadow: var(--box-shadow);
}

/* Members Box Container Styles */
.members .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

/* Members Box Styles */
.members .box-container .box {
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

/* Members Box Image Styles */
.members .box-container .box img {
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Members Box Heading Styles */
.members .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

/* Members Box Span Styles */
.members .box-container .box span {
    color: var(--blue);
    font-size: 1.5rem;
}

/* Members Box Share Styles */
.members .box-container .box .share {
    padding-top: 2rem;
}

/* Members Box Share Anchor Styles */
.members .box-container .box .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--blue);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
}

/* Members Box Share Anchor Hover Styles */
.members .box-container .box .share a:hover {
    background: var(--blue);
    color: #fff;
    box-shadow: var(--box-shadow);
}

/* Book Row Styles */
.book .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Book Image Styles */
.book .row .image {
    flex: 1 1 45rem;
}

/* Book Image Image Styles */
.book .row .image img {
    width: 100%;
}

/* Book Form Styles */
.book .row form {
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

/* Book Form Heading Styles */
.book .row form h3 {
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

/* Book Form Box Styles */
.book .row form .box {
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

/* Book Form Button Styles */
.book .row form .btn {
    padding: 1rem 4rem;
}

/* Review Box Container Styles */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

/* Review Box Styles */
.review .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

/* Review Box Image Styles */
.review .box-container .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid #fff;
}

/* Review Box Heading Styles */
.review .box-container .box h3 {
    color: #fff;
    font-size: 2.2rem;
    padding: .5rem 0;
}

/* Review Box Stars Styles */
.review .box-container .box .stars i {
    color: #fff;
    font-size: 1.5rem;
}

/* Review Box Text Styles */
.review .box-container .box .text {
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}

/* Review Box Pseudo Element Styles */
.review .box-container .box::before {
    content: '';
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--blue);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}

/* Blogs Box Container Styles */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

/* Blogs Box Styles */
.blogs .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

/* Blogs Box Image Styles */
.blogs .box-container .box .image {
    height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
}

/* Blogs Box Image Image Styles */
.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Blogs Box Image Hover Styles */
.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

/* Blogs Box Content Styles */
.blogs .box-container .box .content {
    padding-top: 1rem;
}

/* Blogs Box Content Icon Styles */
.blogs .box-container .box .content .icon {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Blogs Box Content Icon Anchor Styles */
.blogs .box-container .box .content .icon a {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* Blogs Box Content Icon Anchor Hover Styles */
.blogs .box-container .box .content .icon a:hover {
    color: var(--blue);
}

/* Blogs Box Content Icon Anchor Icon Styles */
.blogs .box-container .box .content .icon a i {
    padding-right: .5rem;
    color: var(--blue);
}

/* Blogs Box Content Heading Styles */
.blogs .box-container .box .content h3 {
    color: var(--black);
    font-size: 3rem;
}

/* Blogs Box Content Paragraph Styles */
.blogs .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

/* Footer Box Container Styles */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

/* Footer Box Heading Styles */
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

/* Footer Box Anchor Styles */
.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

/* Footer Box Anchor Icon Styles */
.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--blue);
}

/* Footer Box Anchor Hover Icon Styles */
.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

/* Footer Credit Styles */
.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

/* Footer Credit Span Styles */
.footer .credit span {
    color: var(--blue);
}

/* Media Queries */
@media (max-width: 991px) {
    html {
        font-size: 55%; /* Reduce font size for smaller screens */
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: initial; /* Display menu button on smaller screens */
    }
    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }
    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%; /* Further reduce font size for smaller screens */
    }
}
